body {
    font-family: Inter, serif;
}
table {
    border: midnightblue 1px solid;
    border-radius: 8px;
}
th {
    padding: 10px 20px 10px 20px;
    border: midnightblue 1px solid;
}
td {
    padding: 10px 20px 10px 20px;
    border: midnightblue 1px solid;
}
tr {
    text-align: left;
}
#tableTodo {
    width: 1074px;
}
#buttonTodo {
    width: 200px;
    height: 50px;
    position: fixed;
    right: 0;
    border-radius: 8px;
    background: midnightblue;
    color: white;
    transform: translateX(-20px);
}